a {
	color: #34495e;
	font-size: 12px;
}

.contact-element {
	margin-left: 5px;
	margin-right: 5px;
}

.content {
	padding-top: 5%;
}

.contact-container {
	margin: 0 auto;
	width: 40%;
	ul {
		display: inline-block;	
	}
}