@font-face {
	font-family: Gotham-Book;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/gotham/Gotham-Book.ttf');
}


body {
	font-family: Gotham-Book;
	font-size: 12px;
	color: white;
	background-color: #678563;
}


.imageContainer {
	margin: auto;
	/*display: table-cell;*/
	display: table;
	vertical-align: middle;
}


.placeholder {
	float:none; 
	margin: 5%;
	text-align: center;
	font-size: 1.7em;
}

a {
	color: #34495e;
	font-size: 14px;
}

a:fhover {
	color: #BDC3C7;
}

.contact-element {
	margin-left: 5px;
	margin-right: 5px;
}

.content {
	padding-top: 5%;
	margin-right: auto;
	margin-left: auto;
	width:50%; 
	float:none;
	margin: 0px auto
}

.contact-container {
	margin-right: auto;
	margin-left: auto;
	float: none;
}

ul {
	list-style: none;
}

li {
	display: inline;	
}	

div.link {
	display:inline-block;
	margin-right: 1%;
	margin-left: 1%;
}
