@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Merriweather+Sans:300,400,700|Cutive+Mono|Snippet);

body {
	font-family: 'Quicksand', sans-serif;	
	font-size: 12px;
	background-color: #ECF0F1;
}

.heading {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.4;
}

.subheading {
	font-family: 'Merriweather Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.4;
	width: 50%;
	float:none; 
	margin: 0px auto;
	text-align: center;
}

.intro {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.4;
	width: 60%;
	float:none; 
	margin: 0px auto;
	margin-bottom:5%;
}

.placeholder {
	float:none; 
	margin: 0px auto;
	margin: 5%;
	text-align: center;
	font-size: 1.7em;
	color: black;
}

a {
	font-family: 'Quicksand', sans-serif;	
	color: #34495e;
	font-size: 14px;
}

a:hover {
	color: #BDC3C7;
}

.contact-element {
	margin-left: 5px;
	margin-right: 5px;
}

.content {
	padding-top: 5%;
	margin-right: auto;
	margin-left: auto;
	width:50%; 
	float:none;
	margin: 0px auto
}

.contact-container {
	margin-right: auto;
	margin-left: auto;
	float: none;
}

ul {
	list-style: none;
}

li {
	display: inline;	
}	
/*
@media (max-width: 700px) {
  body {
  	background-color: green;
  	width: 85%
  }

  .content {
  		width:100%; 
	}

  .subheading {	
	width: 100%;
  }

  .intro {
	width: 100%;
  }
}
*/